.body {
    background-color: rgb(0, 0, 0);
}

.text1 {
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #262f36;
    line-height: 2;
}

.item {
    float: left;
}

.img {
    width: 100px;
    height: 100px;
}

.footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #262f36;
    line-height: 3;
    text-align: center;
    left: 0;
}

.texto {
    color: white;
    text-align: center;
}

.caster {
    color: white;
    background-color: #262f36;
    text-align: center;
}