.body {
    background-color: black;
}

.titulo {
    color: white;
    text-align: center;
    background-color: #262f36;
    line-height: 2;
}

.item{
    float: left;
}

.img{
    width: 100px;
    height: 100px;
}

.footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #262f36;
    line-height: 3;
    text-align: center;
    left: 0;
}

.texto{
    color: white;
    text-align: center;
}